.navbar-top-wrapper {
  width: 100%;
  position: absolute;
  /* top: 100px; */
  left: 0;
  z-index: 10;
  font-family: 'ClashDisplay',  sans-serif;


}

.navbar-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 50px;
  color: white;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff4747;
}

.nav-contact-call {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ff4747;
  border: 1px solid #ff4747;
}

.phone-icon {
  font-size: 16px;
}

.navbar-bottom-contact-bar {
  display: flex;
  margin-top: 100px;
  margin-left: 220px;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 20px 50px;
 justify-items: center;
 width: 70%;
  color: white;
  z-index: 1111;
  font-family: 'ClashDisplay',  sans-serif;

  /* border-top: 1px solid rgba(255, 255, 255, 0.2); */
  /* background-color: red; */
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 40px;
}

.contact-icon {
  color: #ff4747;
  font-size: 18px;
}

.contact-text {
  font-size: 18px;
}