/* FOOTER MAIN */
.footer-section {
  background: #000000;
  color: #fff;
  padding: 80px 0 40px 0;
  font-family: "Poppins", sans-serif;
 height: 500px;
 display: flex;
 flex-direction: column;

 

}

.footer-container {
  width: 1560px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.6fr 1fr 1.3fr;
  gap: 80px;
}
.footer-left{
  width: 450px;
}
/* LEFT BLOCK */
.footer-left h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 25px;
  color: #ffffff;
}

.footer-left p {
  color: rgba(255,255,255,0.85);
  line-height: 1.7;
  font-size: 15px;
}
.footer-middle{
  padding-left: 50px;
}

/* MIDDLE BLOCK */
.footer-middle h3,
.footer-right h3 {
  font-size: 22px;
  margin-bottom: 22px;
  font-weight: 600;
}

.footer-middle ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-middle li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-middle li:hover {
  color: #ffe0e0;
}

.footer-middle li span {
  width: 28px;
  height: 2px;
  background: #fff;
  display: inline-block;
}

/* RIGHT BLOCK */
.footer-info {
  display: flex;
  gap: 12px;
  margin-bottom: 18px;
  line-height: 1.6;
}

.footer-info .icon {
  font-size: 18px;
  color: #fff;
  margin-top: 4px;
}

/* BOTTOM LINE */
.footer-bottom-line {
  width: 90%;
  height: 1px;
  background: rgba(255,255,255,0.35);
  margin: 40px auto 20px auto;
}

/* COPYRIGHT */
.footer-copy {
  text-align: center;
  font-size: 14px;
  opacity: 0.9;
}











/* ================= FOOTER MOBILE RESPONSIVE ONLY ================= */

@media (max-width: 900px) {

  .footer-section {
    height: auto;
    padding: 60px 20px 30px;
  }

  .footer-container {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: left;
  }

  .footer-left,
  .footer-middle,
  .footer-right {
    width: 100%;
    padding-left: 0;
  }

  .footer-left h2 {
    font-size: 26px;
  }

  .footer-left p {
    font-size: 15px;
  }

  .footer-middle ul {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 10px;

  }

  .footer-middle li {
    /* justify-content: center; */
    font-size: 15px;
    text-align: left;
  }

  .footer-middle li span {
    display: none;
  }

  .footer-info {
    justify-content: center;
    font-size: 15px;
  }
}

/* ================= SMALL MOBILE ================= */

@media (max-width: 480px) {

  .footer-left h2 {
    font-size: 22px;
  }

  .footer-middle h3,
  .footer-right h3 {
    font-size: 20px;
   
  }

  .footer-copy {
    font-size: 13px;
    padding: 0 10px;
  }
}
