/* ===== SECTION ===== */
.testimonial {
  padding: 80px 20px;
  text-align: center;
  background: #f8f8f8;
}

.testimonial-sub {
  color: #d10000;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
}

.testimonial-title {
  font-size: 36px;
  margin: 10px 0;
  font-weight: 800;
  color: #111;
}

.testimonial-desc {
  max-width: 600px;
  margin: auto;
  color: #555;
  font-size: 15px;
  margin-bottom: 50px;
}

/* ===== SLIDER ===== */
.testimonial-slider {
  max-width: 1570px;
  margin: auto;
  overflow: hidden;
}

.testimonial-track {
  display: flex;
  transition: transform 0.7s ease;
}

.testimonial-page {
  min-width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 10px;

}

/* ===== CARD ===== */
.testimonial-card {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  max-width: 340px;
  flex: 1;
  /* box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1); */
  transition: 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-10px);
}

.testimonial-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #d10000;
  margin-bottom: 15px;
}

.testimonial-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 700;
}

.testimonial-card span {
  font-size: 13px;
  color: #888;
}

.testimonial-card p {
  font-size: 15px;
  margin: 20px 0;
  color: #555;
}

/* ===== STARS ===== */
.stars {
  color: #d10000;
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* ===== DOTS ===== */
.testimonial-dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #d10000;
  transform: scale(1.3);
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .testimonial-title {
    font-size: 28px;
  }

  .testimonial-page {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-card {
    max-width: 90%;
  }
}
