/* WRAPPER */
.gallery-wrapper {
  padding: 110px 0;
  text-align: center;
  /* width: 82%; */
  width: 1570px;
  margin: auto;
}

/* TOP LINE */
.gallery-topline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  color: #e53935;
  font-weight: 600;
  font-size: 15px;
}

.gallery-topline span {
  width: 45px;
  height: 2px;
  background: #e53935;
  display: inline-block;
}

/* MAIN TITLE */
.gallery-heading {
  font-size: 42px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 18px;
  color: #111;
}

/* SUBTEXT */
.gallery-subtext {
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto 60px auto;
  line-height: 1.6;
  color: #444;
}

/* GALLERY GRID */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

/* CARD WRAPPER */
.gallery-card {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
}

/* IMAGE STYLE */
.gallery-img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 18px;
  transition: 0.3s ease;
}

/* OPTIONAL HOVER */
.gallery-card:hover .gallery-img {
  transform: scale(1.05);
  filter: brightness(85%);
}














/* ================= GALLERY RESPONSIVE ================= */

@media (max-width: 900px) {

  .gallery-wrapper {
    width: 90%;
    padding: 70px 20px;
  }

  .gallery-heading {
    font-size: 30px;
  }

  .gallery-subtext {
    font-size: 15px;
    margin-bottom: 40px;
    padding: 0 10px;
  }

  /* Tablet grid */
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
  }

  .gallery-img {
    height: 280px;
  }
}

/* ================= SMALL MOBILE ================= */

@media (max-width: 600px) {

  .gallery-heading {
    font-size: 24px;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gallery-img {
    height: 240px;
  }
}
